<!DOCTYPE html>
<html lang="en" dir="ltr" style="height: 100%;">
    <head>
        <title>Device Controller</title>
        <meta name="viewport" content="width=device-width, minimum-scale=0.1">
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"> -->
       <style>
           
            .screen{
                cursor: pointer !important;
                
            
           }
       </style>
    </head>
    <body style="margin: 0px; height: 100%">
       
                    <!-- <div class="box box-success">

                        <div style="text-align:center;">
                          <span id="ScreenCoordinates">(0, 0)</span>
                        </div> -->
                        <!-- <span class="finger finger-0" style="transform: translate3d(0, 0, 0)"></span>
                        <span class="finger finger-1"></span> -->

                        <!-- <input type="text" id="screenkeyboard" onkeypress="sendText()"> -->

                        
                        <!-- <div id="frame" style="margin:0 auto;width:360px; " onPress(event) onmousemove="ScreenCoordinates(event)" onmouseout="clearCoor()">
                    
                            <img id="screen" style="-webkit-user-select: none;margin: auto; cursor: pointer;" img style="-webkit-user-select: none;margin: auto;" src="http://127.0.0.1:9100/" width="375" height="667">
                        </div> -->
                        <div style="z-index: 1;display: inline-block;">
                            <div class="container" style="float: right;width:0px;">
                                <img src="uploads/home-button.png" width="50" id="home" type="button" onclick="home()">
                                <img src="uploads/volume-up.png" width="50" id="volumeup" type="button" onclick="volumeup()">
                                <img src="uploads/volume-down.png" width="50" id="volumedown" type="button" onclick="volumedown()">
                                <img src="uploads/lock-icon.png" width="50" id="lock" type="button" onclick="lock()">
                                <img src="uploads/un-lock-icon.png" width="50" id="unlock" type="button" onclick="unlock()">
                                <img src="uploads/Bell-prod-icon.png" width="50" id="bell-prod" type="button" onclick="startApp()">
                            </div>
                            <!-- <div class="container" style="float: right;width:0px;">
                               
                                <img src="uploads/Bell-prod-icon.png" width="50" id="bell-prod" type="button" onclick="startApp()">
                            </div> -->
                            
                            <div class="container" style="-webkit-user-select: none;margin: auto; max-width: 100%; height:100vh;width:auto">
                                <img id="screen" onclick="myclick(event)" class="screen" src="http://127.0.0.1:9100/" width="164" height="355" onclick="click()">
                                <!-- <canvas id="canvas"></canvas> -->
                            </div>
                        
                    </div>


        
    <script>


        function myclick(e){
            var x = Math.round((e.clientX));
    	    var y = Math.round(e.clientY);
            
        }


    </script>

    <script>

        function setupWebSocket() {
            var size = null;
            //const PORT = process.env.PORT || 8080
            var ws = new WebSocket("ws://localhost:"+9090);

            ws.onopen = function () {
                console.log("connected");
            }

            return ws;
        }
        var ws = setupWebSocket();

        ws.onopen = function() {
            console.log('Opened connection 🎉');

            // send data to the server
            var json = JSON.stringify({ message: 'Hello 👋 Mr.Server' });
            ws.send(json);
        }

        // function resizeImg(img, width, height) {
        //     img.width = width;
        //     img.height = height;
        // }
    </script>



<script>
    var WSURL2 = "ws://" + window.location.host + "/websocket2";
    var ws2 = null;

    // var deviceLogsShow = new Vue({
    //     el: "#logs",
    //     data: {
    //         device: {
    //             logs: '',
    //         },
    //     },
    // })

    // var deviceDetail = new Vue({
    //     el: "#deviceinfo",
    //     data: {
    //         device: {
    //             name: '',
    //             udid: '',
    //             apps: '',
    //             logs: '',
    //             type: '',
    //             version: '',
    //         },
    //     },
    //     mounted: function () {
    //         this.refresh();
    //     },
    //     methods: {
    //         refresh: function () {
    //             console.log("getting device info...");
    //             var self = this;
    //             $.ajax({
    //                 url: "/ios/getDeviceInfo?",
    //                 method: "GET",
    //             })
    //                 .then(function (ret) {
    //                     self.device.udid = ret.udid
    //                     self.device.name = ret.name
    //                     self.device.apps = ret.apps
    //                     self.device.type = ret.type
    //                     self.device.version = ret.version
    //                     console.log(udid)
    //                     var typeString = self.device.type
    //                     var realTypeName = iosinfo[typeString]["iPhoneType"]
    //                     console.log(realTypeName)
    //                     document.getElementById('deviceTypeName').textContent = realTypeName
    //                     imgX = iosinfo[typeString]["ptX"]
    //                     imgY = iosinfo[typeString]["ptY"]
    //                 })
    //         },
    //     },
    // });

    // function refreshdetail() {
    //     console.log("getting device info...");
    //     var self = this;
    //     $.ajax({
    //         url: "/ios/getDeviceInfo?",
    //         method: "GET",
    //     })
    //         .then(function (ret) {
    //             deviceDetail.device.udid = ret.udid
    //             deviceDetail.device.name = ret.name
    //             deviceDetail.device.apps = ret.apps
    //             deviceDetail.device.type = ret.type
    //             deviceDetail.device.version = ret.version
    //             console.log(udid)
    //             var typeString = deviceDetail.device.type
    //             var realTypeName = iosinfo[typeString]["iPhoneType"]
    //             console.log(realTypeName)
    //             document.getElementById('deviceTypeName').textContent = realTypeName
    //             imgX = iosinfo[typeString]["ptX"]
    //             imgY = iosinfo[typeString]["ptY"]
    //         })
    // }

    // var countTimer = new Vue({
    //     el: "#countTimer",
    //     data: {
    //         record: {
    //             running: false,
    //             startTime: 0,
    //             ticker: null,
    //             duration: 0,
    //             prompt: ''
    //         }
    //     },
    //     filters: {
    //         formatDuration: function (value) {
    //             function pad2(number) {
    //                 return (number < 10 ? '0' : '') + number
    //             }
    //             var totalSeconds = Math.floor(value / 1000); //"00:00:00"
    //             var mms = value % 1000;
    //             var ms = totalSeconds % 60;
    //             var mm = (totalSeconds - ms) / 60
    //             return "" + pad2(mm) + " : " + pad2(ms);
    //         }
    //     },
    //     mounted: function () {
    //         var self = this;
    //         self.record.startTime = new Date().getTime();
    //         self.record.ticker = setInterval(function () {
    //             self.record.duration = new Date().getTime() - self.record.startTime;
    //         }.bind(self), 1000);
    //     }
    // });

    function ScreenCoordinates(e){
        var img = document.getElementById("screen");
    	var cRect = img.getBoundingClientRect();

    	var x = Math.round((e.clientX) - cRect.left);
    	var y = Math.round(e.clientY - cRect.top);

    	var coor = "(" + x + "," + y + ")";
    	  //console.log("Coordinates : "+coor);
    	  document.getElementById("ScreenCoordinates").innerHTML = coor;
   	};

   	function clearCoor() {
   	  document.getElementById("ScreenCoordinates").innerHTML = "(" + 0 + "," + 0 + ")";;
   	};

    function findScreenCoords(mouseEvent){
      var xpos;
      var ypos;
      if (mouseEvent){
        //FireFox
        xpos = mouseEvent.screenX;
        ypos = mouseEvent.screenY;
      }else{
        //IE
        xpos = window.event.screenX;
        ypos = window.event.screenY;
      }
      document.getElementById("screenCoords").innerHTML = xpos + ", " + ypos;
    };

    // function refreshlogs() {
    //     if (document.getElementById('getlogbtn').textContent == "Start log scraping") {
    //         var id = document.getElementById('filter-bundleid').value
    //         if (id == "" || id.indexOf(".") == -1) {
    //             alert("Please enter the bundle id of the filter log!")
    //             return
    //         }
    //         deviceLogsShow.device.logs = "";
    //         console.log("Start crawling logs...");
    //         var obj = document.getElementById('logs');
    //         ws2 = new WebSocket(WSURL2 + "/" + id)
    //         ws2.onclose = function () {
    //             console.log('ws2 onclose', arguments)
    //         }
    //         ws2.onerror = function () {
    //             console.log('ws2 onerror', arguments)
    //         }
    //         ws2.onmessage = function (message) {
    //             deviceLogsShow.device.logs += message.data;
    //             console.log('msg got:' + message.data);
    //             document.getElementById('logs').value += message.data
    //             //Whether to automatically scroll at the bottom
    //             //obj.scrollTop =  obj.scrollHeight;
    //             var scrollTop = $("#logs")[0].scrollHeight;
    //             $("#logs").scrollTop(scrollTop);
    //         }
    //         ws2.onopen = function () {
    //             console.log('ws2 onopen', arguments)
    //             ws2.send(id);
    //         }
    //         document.getElementById('getlogbtn').textContent = "Stop log crawling"
    //     } else {
    //         ws2.close();
    //         console.log("Stop crawling logs...");
    //         document.getElementById('getlogbtn').textContent = "Start log scraping"
    //     }
    // }
    var url = 'http://127.0.0.1:8100';
    function home() {

        // axios({
        //     method: 'post',
        //     url: url+'/wda/homescreen',
        //     data: {
        //     }
        // });

        axios.post(url+'/session/'+sessionId+'/wda/pressButton', {
            "name":"home"
        })
        .then(function (response) {
            // console.log(response);
        })
        .catch(function (error) {
            console.log(error);
        });
    }

    function volumeup() {
        axios.post(url+'/session/'+sessionId+'/wda/pressButton', {
            "name":"volumeUp"
        })
        .then(function (response) {
            // console.log(response);
        })
        .catch(function (error) {
            console.log(error);
        });
    }

    function lock() {
        axios({
            method: 'post',
            url: url+'/wda/lock',
            data: {
            }
        });
    }

    function unlock() {
        axios({
            method: 'post',
            url: url+'/wda/unlock',
            data: {
            }
        });
    }

    function volumedown() {
        axios.post(url+'/session/'+sessionId+'/wda/pressButton', {
            "name":"volumeDown"
        })
        .then(function (response) {
            return "Success";
        })
        .catch(function (error) {
            console.log(error);
        });
    }

    function startApp() {
        axios.post(url+'/session/'+sessionId+'/wda/apps/activate', {
            "bundleId":"ca.bell.selfserve.mybellmobile"
        })
        .then(function (response) {
            return "Success";
        })
        .catch(function (error) {
            console.log(error);
        });
    }

    document.addEventListener("keydown", function onPress(event) {//keypress keydown
        //event.keyCode;//event.key;
        console.log(event);
        var text = '';
        if (event.key === "Backspace") {
            text = "\b";
        }else if(event.key === " "){
            text = ' ';
        }else{
            var tempText = event.key
            if (event.shiftKey) {
                tempText = event.key.replace("Shift", "")
            }
            else if (event.ctrlKey | event.key === "Enter" | event.key === "Tab" | event.key === "CapsLock") {
                tempText = event.key.replace(event.key, "")
            }
            text = tempText;//encodeURI(tempText);
        }
        axios.post(url+'/session/'+sessionId+'/wda/keys', {
            "value":[text],
            "frequency":60
        })
        .then(function (response) {
            return "Success";
        })
        .catch(function (error) {
            console.log(error);
        });

    });
</script>


<script>

    
    var app = new Vue({
        el: "#screen",
        // delimiters: ["[[", "]]"],
        data: {
            display: {
                width: 0,
                height: 0,
                naturalWidth: 0,
                naturalHeight: 0,
            },
            refreshCount: 0,
            sessionId: null,
            url: 'http://127.0.0.1:8100',
            pageHidden: false,
            current: 0,
            inputText: '',
            wsAdmin: null,
            record: {
                running: false,
                startTime: 0,
                ticker: null,
                duration: 0,
                prompt: '',
            },
            records: [{
                name: "20170603-test",
            }]
        },
        filters: {
            formatDuration: function (value) {
                function pad2(number) {
                    return (number < 10 ? '0' : '') + number
                }
                var totalSeconds = Math.floor(value / 1000); //"00:00:00"
                var mms = value % 1000;
                var ms = totalSeconds % 60;
                var mm = (totalSeconds - ms) / 60
                return "" + pad2(mm) + " : " + pad2(ms);
            }
        },
        mounted: function () {
            var self = this;
            this.initTouchListener();
            //this.initSession();
            this.initScreenSize();
            // this.home();
            var self = this;
            $("#screen")[0].onload = function (e) {
                var nw = e.target.naturalWidth;
                var nh = e.target.naturalHeight;
                if (nw && nh && self.display.naturalHeight != nh) {
                    self.display.naturalWidth = nw;
                    self.display.naturalHeight = nh;
                    // self.initSession();
                    self.initScreenSize();
                    // console.log("Detect screen rotate");
                }
            }.bind(this);
        },
        methods: {
            home: function () {
                axios({
                    method: 'post',
                    url: url+'/wda/homescreen',
                    data: {
                    }
                });
            },
            tap: function (x, y) {
                var self = this;

                axios.post(url+'/session/'+sessionId+'/wda/tap/0', {
                    "x": x,
                    "y": y
                })
                .then(function (response) {
                    return "Success";
                })
                .catch(function (error) {
                    console.log("Error : "+error);
                    return "Fail"
                })

            },
            tapHold: function (x, y, duration) {
                var self = this;
                duration = duration / 1000

                axios.post(url+'/session/'+sessionId+'/wda/touchAndHold', {
                    "x":x,
                    "y":y,
                    "duration":duration
                })
                .then(function (response) {
                    return "Success";
                })
                .catch(function (error) {
                    console.log("Error : "+error);
                    return "Fail"
                })
            },
            swipe: function (fromX, fromY, toX, toY) {
                var self = this;

                axios.post(url+'/session/'+sessionId+'/wda/dragfromtoforduration', {
                    "fromX":fromX,
                    "fromY":fromY,
                    "toX":toX,
                    "toY":toY,
                    "duration":0.08
                })
                .then(function (response) {
                    return "Success";
                })
                .catch(function (error) {
                    console.log("swipe Error : "+error);
                    return "Fail"
                });
            },
            sendText: function (text) {

                // var url = 'http://192.168.0.71:8100';
                axios.post(url+'/session/'+sessionId+'/wda/keys', {
                    "value":[text],
                    "frequency":60
                })
                .then(function (response) {
                    return "Success";
                })
                .catch(function (error) {
                    console.log("swipe Error : "+error);
                    return "Fail"
                });

            },
            clearText: function (n) {
                this.sendText("\b".repeat(n || 30))
            },
            initSession: function () {
                // var url = 'http://192.168.0.71:8100';
                axios.get(url+'/status')
                    .then(function (response) {
                        this.sessionId = response.data.sessionId;
                        // Object.assign(this.device, response.data.value.ios);
                        console.log("initSession : "+sessionId)
                        if(response.data.sessionId==null)
                            return;

                        axios.post(url+'/session', {
                                "capabilities":{
                                "bundleId": "com.apple.Preferences",
                                "autoLaunch": false,
                                "waitForQuiescence": false
                            }
                        })
                        .then(function (response) {
                            console.log(response);
                            this.sessionId = response.data.sessionId;
                            return "Success";
                        })
                        .catch(function (error) {
                            console.log(error);
                        });

                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
                    .then(function () {
                        // always executed
                    });

            },
            initScreenSize: function () {
                axios.get(url+'/status')
                    .then(function (response) {
        
                        this.sessionId = response.data.sessionId;

                        axios.get(url+'/session/' + sessionId + '/window/size')
                            .then(function (response) {
                                var img = document.getElementById('screen');
                                img.width = response.data.value.width;
                                img.height = response.data.value.height;
                                return "Success";
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
                    .then(function () {
                        // always executed
                    });
            },
            initTouchListener: function () {
                var self = this;
                var element = $("#screen")[0];
                var screen = {
                    bounds: {},
                    firstPosition: {},
                    secondPosition: {},
                    beginTime: null,
                }
                var _longClickTimeout = 800;
//                function calculateBounds() {
//                    var el = element;
//                    screen.bounds.w = el.offsetWidth
//                    screen.bounds.h = el.offsetHeight
//                    screen.bounds.x = 0
//                    screen.bounds.y = 0
//
//                    while (el.offsetParent) {
//                        screen.bounds.x += el.offsetLeft
//                        screen.bounds.y += el.offsetTop
//                        el = el.offsetParent
//                    }
//                }
                function deactiveFinger(index) {
                    $(".finger-" + index).removeClass("active").removeClass("longClick")
                }
                function convertPosition(event) {
                    var e = event;
                    if (e.originalEvent) {
                        e = e.originalEvent
                    }
                    // Ignore mouse right click
                    if (e.which === 3) {
                        return;
                    }
                    e.preventDefault()
//                    calculateBounds()
                    var x = e.offsetX
                    var y = e.offsetY
                    // console.log("convertPosition x: " + x + ", convertPosition y: " + e.offsetY)
                    var convert =  {
                        e: e,
                        x: x,
                        y: y,
                        pageX: x,
                        pageY: y,
                    }
                    // console.log("convertPosition : "+convert.x+" : "+convert.y);
                    return convert;
                }
                function stopMousing() {
                    element.removeEventListener('mousemove', mouseMoveListener);
                    document.removeEventListener('mouseup', mouseUpListener);
                }

                function mouseUpListener(event) {
                    var p = convertPosition(event);
                    // console.log("X: "+p.pageX +"Y : "+p.pageY);
                    stopMousing()
                    var first = screen.firstPosition,
                        second = screen.secondPosition;
                    screen.secondPosition = {};
                    element.style.cursor = 'not-allowed'
                    clearTimeout(screen.longClickKey);
                    var defer;
                    if (second && (second.x || second.y)) {
                        // console.log("Swipe", first, second);
                        defer = self.swipe(first.x, first.y, second.x, second.y);
                    } else {
                        var holdTime = new Date().getTime() - screen.beginTime;
                        if (holdTime > _longClickTimeout) {
                            // console.log("LongTap", first);
                            defer = self.tapHold(first.x, first.y, holdTime)
                        } else {
                            //console.log("Tap", first);
                            defer = self.tap(first.x, first.y)
                        }
                    }
                    // defer.then(function () {
                    //     console.log("Release operation")
                        // deactiveFinger(0);
                        // deactiveFinger(1);
                        element.style.cursor = 'auto'
                    // })
                }
                function mouseMoveListener(event) {
                	//  console.log("in mouseMoveListener");
                    var p = convertPosition(event);
                    var first = screen.firstPosition;
                    var distance = Math.sqrt((first.x - p.x) * (first.x - p.x) + (first.y - p.y) * (first.y - p.y));
                    if (distance > 10) {
                        screen.secondPosition = {
                            x: p.x,
                            y: p.y
                        };
                        // console.log("in mouseMoveListener printing co-ordinates"+p);
                        $(".finger-1")
                            .addClass("active")
                            .css("transform", 'translate3d(' + p.pageX + 'px,' + p.pageY + 'px,0)')
                    } else {
                        // deactiveFinger("1");
                        screen.secondPosition = {};
                    }
                }
                function mouseDownListener(event) {
                    if (element.style.cursor == 'not-allowed') {
                        return;
                    }
                    var p = convertPosition(event);
                    var index = 0;
                    $(".finger-" + index)
                        .addClass("active")
                        .css("transform", 'translate3d(' + p.pageX + 'px,' + p.pageY + 'px,0)')
                    screen.longClickKey = setTimeout(function () {
                        $(".finger-0").addClass("longClick");
                    }, _longClickTimeout)
                    screen.beginTime = new Date().getTime();
                    screen.firstPosition = {
                        x: p.x,
                        y: p.y
                    }
                    element.addEventListener('mousemove', mouseMoveListener);
                    document.addEventListener('mouseup', mouseUpListener);
                }
                element.addEventListener("mousedown", mouseDownListener);
            }
        }
    })
</script>

<script type="text/javascript">
    // function upload() {
    //     var file = document.getElementById("uploadfile");
    //     var fileInfo = file.files[0];
    //     console.log(fileInfo);
    //     if (!fileInfo) {
    //         alert("Please select a file!");
    //         return false;
    //     }
    //     var fileName = fileInfo.name;
    //     //Get the file extension
    //     var file_typename = fileName.substring(
    //         fileName.lastIndexOf('.') + 1, fileName.length);
    //     if (file_typename.toLowerCase() != 'ipa') {
    //         alert("Please upload .ipa type files!");
    //         return false;
    //     }
    //     try {
    //         $.ajaxFileUpload({
    //             url: '/ios/upload',   //Submitted path
    //             type: 'post',
    //             secureuri: false, //Whether to enable secure submission, the default is false
    //             fileElementId: 'uploadfile', // file control id
    //             dataType: 'json',
    //             data: {},
    //             success: function (data, status) {
    //                 console.log(data);
    //                 console.log(status);
    //             },
    //             error: function (data, status) {
    //                 alert("upload failed");
    //             }
    //         });
    //     } catch (err) {
    //         alert("Please upload the .ipa file, do not upload other types!" + err.message);
    //     }
    // }
</script>



    </body>
</html>
